.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 95rem;
}

html,
body,
#root {
  background-color: #070b10;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
}
body > iframe {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
}

html {
  min-height: 100vh;
}

div.swiper-button-prev,
div.swiper-button-next {
  width: 0.5rem;
  height: 1rem;
  color: #1f2023;
}

div.swiper-button-prev:after,
div.swiper-button-next:after {
  font-size: 1rem;
  font-weight: bold;
}

/*---scrollbar style--*/

::-webkit-scrollbar-thumb {
  background-color: gray;

  height: 50px;

  outline-offset: -2px;

  outline: 2px solid #fff;

  border-radius: 4px;

  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;

  height: 50px;

  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;

  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;

  border-radius: 0;
}
