.App {
  height: 100%;
  margin: 0 auto;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

html {
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}